<div id="book">
  <link rel="preload" as="image" href="assets/img/blank_cover.png">
  <img
    id="cover"
    onerror="this.onerror=null; this.src='assets/img/blank_cover.png';"
    src="{{ book.cover }}"
    alt="No cover"
    width="50px"
  />
  <div id="book-info">
    <h1>{{ book.title }}</h1>
    <div id="book-details">
      <h3>Rewiew: {{ book.reviewsNumber }}</h3>
      <h3>Rating: {{ book.rating?.toFixed(2) }}</h3>
    </div>
  </div>
</div>
<div id="buttons">
  <button (click)="openBook()">
    <img src="assets/img/see_book.png" alt="Watch book" />
  </button>
  <button (click)="editBook()">
    <img src="assets/img/edit_book.png" alt="Editt book" />
  </button>
</div>
